* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-image: url(../images/restaurant-photo.jpg);
    background-position: center;
    background-size: cover;
    background-color: rgba(255,255,255, 0.7);
    background-blend-mode: lighten;
}


body, 
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    max-width: 700px;
    min-width: 500px;
    flex-basis: 700px;
    padding: 10px;
    margin: 20px;
    border: 2px solid rgb(98, 74, 14);
}

#content,
.hoursDiv,
.locationDivContainer,
.item {
    border-radius: 14px;
}

.buttonHeader {
    margin-top: 20px;
}

.hoursDiv {
    margin-top: 30px;
    min-width: 400px;
    min-height: 250px;
}

.locationDivContainer, 
.hoursDiv,
.item {
    border: 1px solid black;
    padding: 10px;
}
.locationDivContainer {
    margin-top: 10px;
    max-width: 400px;
    max-height: 125px;
}

.hoursParagraph {
    white-space: pre-line;
}

.item {
    max-width: 400px;
    min-height: 200px;
    margin-bottom: 10px;
}

.itemContent {
    margin-left: 20px;
}

.price {
    margin-right: 20px;
    font-size: 20px;
    text-align: right;
}