* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    background-image: url(../images/restaurant-photo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
}


img {
    opacity: 0.5;
}

body, 
#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    max-width: 700px;
    min-width: 500px;
    flex-basis: 700px;
    padding: 10px;
    margin: 20px;
    border: 2px solid rgb(98, 74, 14);
}

#content,
.hoursDiv,
.locationDivContainer,
.beverages {
    border-radius: 14px;
}

.buttonHeader {
    margin-top: 20px;
}

.hoursDiv {
    margin-top: 30px;
    min-width: 400px;
    min-height: 250px;
}

.locationDivContainer, 
.hoursDiv,
.beverages {
    border: 1px solid black;
    padding: 10px;
}
.locationDivContainer {
    margin-top: 10px;
    max-width: 400px;
    max-height: 125px;
}

.hoursParagraph {
    white-space: pre-line;
}

.beverages {
    max-width: 400px;
    min-height: 200px;
    margin-bottom: 10px;
}

.beverageContent {
    margin-left: 20px;
}